
@model IEnumerable<Oodle.Models.Class>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a href="@Url.Action("Create", "Class")">
    Create a Class
</a>

<div>
    @foreach (var i in Model)
    {
        <a href="@Url.Action("Index", "Class", new { ClassID = (i.ClassID) }, null)">
            @Html.DisplayFor(Name => i.Name)
        </a>
    }
</div>
