
@model IEnumerable<Oodle.Models.Class>

@{
    ViewBag.Title = "List";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>



<h2>List</h2>

<a href="@Url.Action("Create", "Class")">
    Create a Class
</a>

<div>
    @foreach (var i in Model)
    {
        <div class="row, block">
            <a href="@Url.Action("Index", "Class", new { ClassID = (i.ClassID) })">
                <div class="classItem">
                    <div class="title">
                        @Html.DisplayFor(Name => i.Name)
                    </div>
                    <div class="description">
                        @Html.DisplayFor(Description => i.Description)
                    </div>
                </div>
            </a>
        </div>
    }
</div>
