@model Oodle.Models.Class

@{
    ViewBag.Title = "Student";
}

<h1>@Html.DisplayFor(Name => Model.Name)</h1>

<h2>Student</h2>

<div>
    @Html.DisplayFor(Description => Model.Description)
</div>



