@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Runners World!</h1>
    
    <p class="lead">Runners world is your site to get up to date information on your cross country runs as well as training programs!</p>
    <p>Below you will find information about some of our runners from our database!</p>
</div>


<p>Instert table somewhere around here. Or anywhere. Idk</p>

