<h2>Frequently Asked Questions </h2>


<head>
    <!-- Latest compiled and minified CSS -->


</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="slide-toggle text-center">
    <div class="container">
        <!-- fluid -->
        <div class="box-toggle">
            <div class="contorol">
                <h3>What is Oodle?</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    Oodle is a learning management system that takes many of
                    the features of already existing programs and offers them
                    in an easier to use and cleaner manner. Oodle is still
                    currently a work in progress, but more will be added to
                    this section as it is developed.
                </p>
            </div>
            <div class="contorol">
                <h3>Our Vision Statement</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    For students and educators who want to be able to manage, learn, and teach
                    in online classrooms. Cleanliness and efficiency would be paramount vs current
                    solutions. Our system would not have to rely on the support of IT or outside
                    resources. The Oodle System is a web-based learning management system that can
                    provide a clean and simple user interface for students and educators to create
                    an online classroom quickly and easily. The system gives anyone the ability to
                    create a class hosted in thecloud that gives teachers of a class the ability to
                    provide quizzes, post andgrade assignments, communicate with students efficiently
                    all while providing a simple and clean user interface. The Oodle system will save
                    time and effort by setting up a more simplified, efficient, and user friendly learning
                    management system compared to the current software such as Blackboard or Moodle.
                    Unlike the current learning management systems, our product and its classrooms
                    are hosted in the cloud and will give the ability to easily create and enroll
                    in a class. In addition, eliminates the need for an IT department or external
                    set up and configuration. Oodle is not open to customization by end users and
                    limits its core features to only the essentials to help give a more intuitive
                    experience to the consumer.
                </p>
            </div>
            <div class="contorol">
                <h3>How do I become a user?</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    Simple! To become a user of Oodle as either a teacher or a student all you need to do is register and
                    either request to join a class or create your own under the "class" section. From there you
                    will be able to work on assignments, take tests, and see your status as a student.
                </p>
            </div>
            <div class="contorol">
                <h3>How do I join and use a class as a student?</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    To join a class simply select the class you wish to join and click "join". The teacher will then get a notifcation alerting them of your request to join.
                    If the teacher accepts you into the class they will and you will then have access to the class and all of its reasources.
                </p>
            </div>
            <div class="contorol">
                <h3>How do I create a class as a teacher?</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    Also Simple! To become a teacher all you have to do is create a class under the create a class section
                    and you will automatically be assigned the role of teacher for that class where you can create
                    assignments, post grades, quizzes and more.
                </p>
            </div>

            <div class="contorol">
                <h3>What is Slack and how do I use it?</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <p>
                    Oodle uses a 3rd party applicaion known as <a href="https://www.slack.com">Slack.</a>
                    Slack is a great tool for class communication. To use it please follow the simple
                    set ups steps: <br />
                    1: Click "join slack" on the top navigation bar and follow the instructions to create your account making sure you use the same email you used to register with Oodle.
                    <br />
                    2: Once registered with Slack join a class. You will automatically see the new class in your slack.
                    <br />
                    3: If you are a teacher, to create a slack channel its as easy as clicking "create a slack channel on class creation" and the rest will be automatically handled by Oodle.

                </p>
            </div>


            <div class="contorol">
                <h3>About the Oodle Developers</h3>
                <span class="toggle-info pull-left">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="content-box">
                <a name="targetname"></a>

                <div class="container">

                    <div class="row">
                        <div class="col-lg-12"> <h3>The Oodle Developers!</h3> </div>
                    </div>

                    <div class="container">
                        <div class="jumbotron" style="text-align:left">
                      
                            <hr /> Oodle was Created by:<br /> Koll Klienstuber, Leo Thalman, Sam Wetzel, and William Leingang <br />
                            Oodle was created for the Computer Science Senior Capstone sequence at Western Oregon University during the 2017-2018 academic year.

                                                                                                                               <h3 style="color:black">
                                                                                                                                   Our Vision Statement:
                                                                                                                                   <p style="color:black">
                                                                                                                                       For students and educators who want to be able to manage, learn, and teach
                                                                                                                                       in online classrooms. Cleanliness and efficiency would be paramount vs current
                                                                                                                                       solutions. Our system would not have to rely on the support of IT or outside
                                                                                                                                       resources. The Oodle System is a web-based learning management system that can
                                                                                                                                       provide a clean and simple user interface for students and educators to create
                                                                                                                                       an online classroom quickly and easily. The system gives anyone the ability to
                                                                                                                                       create a class hosted in thecloud that gives teachers of a class the ability to
                                                                                                                                       provide quizzes, post andgrade assignments, communicate with students efficiently
                                                                                                                                       all while providing a simple and clean user interface. The Oodle system will save
                                                                                                                                       time and effort by setting up a more simplified, efficient, and user friendly learning
                                                                                                                                       management system compared to the current software such as Blackboard or Moodle.
                                                                                                                                       Unlike the current learning management systems, our product and its classrooms
                                                                                                                                       are hosted in the cloud and will give the ability to easily create and enroll
                                                                                                                                       in a class. In addition, eliminates the need for an IT department or external
                                                                                                                                       set up and configuration. Oodle is not open to customization by end users and
                                                                                                                                       limits its core features to only the essentials to help give a more intuitive
                                                                                                                                       experience to the consumer.
                                                                                                                                   </p>

                                                                                                                                   Created using:
                                                                                                                               </h3>

                            <ul style="font-size:14px;">
                                <li>HTML, CSS, Bootstrap</li>
                                <li>Jquery, JavaScript, JSON</li>
                                <li>C#</li>
                                <li>MVC</li>
                                <li>ASP.NET</li>
                                <li>Git</li>
                                <li>Slack API</li>
                                <li>Slack as a communications tools internally</li>
                                <li>Two week Sprints using an Agile workflow</li>
                                <li>Visual Studios Team Services</li>

                            </ul>
                            <hr />

                            <h3 style="color:black">
                                Support at: OodleLearning@gmail.com <br><br>
                                <p style="color:black">Find us on <a href="https://bitbucket.org/blackwood-incorporated/senior-project" class="btn btn-primary btn-lg">Bitbucket &raquo;</a></pstyle="color:black">
                            </h3>

                        </div>


                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<hr />
<br /><br />








@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}

