@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Find us on <a href="https://bitbucket.org/blackwood-incorporated/senior-project" class="btn btn-primary btn-lg">Bitbucket &raquo;</a></p>
