@{
    ViewBag.Title = "Home Page";
}
<!--###Oodle Header###-->
<div class="jumbotron" style="text-align:center;color:#17252A;background-color:#84CEEB">
    <h1 id="indexHeading">OODLE -- A PLACE TO LEARN</h1>
    <hr class="style1">
    <p class="lead">A place to <strong>Share | Create | Learn | Educate</strong></p>


    <!--###Login and Register Section###-->
    <div class="row" style="text-align:center">
        <div>
            <p style="color:#FEFFFF">
                Returning User? <br />
            </p>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-info" })
        </div>
    </div>
    <br />
    <div class="row" style="text-align:center">
        <div>
            <p style="color:#FEFFFF">
                New User? <br />
            </p>
            @Html.ActionLink("Register Here", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-info" })

        </div>
    </div>
</div>

