body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    color: white;
}

#top {
    color: black;
    background-color: #688A84;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}


/* Top left text */
.top-left {
    text-shadow: -1px -1px 0 dimgray, 1px -1px 0 dimgray, -1px 1px 0 dimgray, 1px 1px 0 dimgray;
    font-size: 500%;
    top: 50px;
    color: Black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centered text */
.centered {
    text-shadow: -1px -1px 0 dimgray, 1px -1px 0 dimgray, -1px 1px 0 dimgray, 1px 1px 0 dimgray;
    font-size: 50px;
    color: White;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}