@model Oodle.Models.Class

@{
    ViewBag.Title = "Index";
}

<h1>@Html.DisplayFor(Name => Model.Name)</h1>

<h2>Grader</h2>

<div>
    @Html.DisplayFor(Description => Model.Description)
</div>



