
h2 {
    color: #FAFAFA;
}

h3, h4 {
    color: #FAFAFA;
}


.col-lg-6, .col-lg-8, .col-lg-2, .col-lg-12 {
    text-align: center;
}


/* used for centering images of each instance sense they are links anchor links */
.a {
    text-align: center;
}

/*Gives spacing between the instance image rows */
.top-buffer {
    margin-top: 40px;
}



body {
    font: normal 16px Helvetica, Verdana;
    color: #333;
}

h1 {
    font-family: "Courier New";
}

p {
    font-weight: bold;
}

.directions {
    display: block;
    margin-bottom: 10px;
    font-size: 80%;
}

.wrapper {
    width: 50%;
    min-width: 300px;
    background: #808080;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

#grades, #avg_grades {
    font: normal 20px "Courier New";
}

#final_grade {
    font: bold 72px Helvetica, Verdana;
}

.green {
    color: green;
}

.teal {
    color: teal;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.red {
    color: red;
}


/*



blue main: 30CBE8 
red complimentary:  FF4430
grey dark: 3A4A4D
grey light: FAFAFA


*/
