@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Edit";
}






<div class="form-style-6">
    <h1>Edit your class</h1>

    <form method="post" action="SaveNotif">

        <label for="notification">Add Notification</label><br />
        <textarea name="notification" placeholder="Enter notification here..." value=""></textarea>


        <br />
        <input type="submit" name="submit" value="Add Notification" />

    </form>
</div>

