@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Tasks";
}
<center><h2>Tasks</h2></center>


<div class="form-style-6">
    @using (Html.BeginForm("CreateTasksEntry", "Teachers", FormMethod.Post, new { name = "formT", enctype = "multipart/form-data" }))
    {
        <div>
            <h1>Create a Task</h1>

            <input type="hidden" name="classID" value="@Model.cl.ClassID" />

            <label for="description">Description of your Task:</label> <br />
            <textarea name="description" maxlength="400" placeholder="e.g., Please read chapter four and attach a word document of your answers to the questions at the end of the chapter." required></textarea>

            <br />
            <label for="video">Video</label><br />
            <input name="video" style="width:493px" value="" />

            <br />
            <label for="file">File</label><br />
            <input type="file" name="postedFile"/>
            <br />
            <label for="startDate">Start Date</label><br />
            <input type="datetime" name="startDate" value="@DateTime.Now" required />

            <br />
            <label for="dueDate">Due Date</label><br />
            <input type="datetime" name="dueDate" value="@DateTime.Now" required />

        </div>
        <div>
            <input type="submit" name="submit" value="Create Task" />
        </div>
    }
    </div>


