@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "CreateAssignment";
}


<h2>Create</h2>

<div>
    <form method="post" action="CreateAssignmentAction">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="" />
            <input type="hidden" name="classID" value="@Model.cl.ClassID" />
            <br />


            <label for="description">Description</label>
            <textarea name="description" placeholder="Enter comments here..."></textarea>

            <label for="startDate">Start Date</label>
            <input type="datetime-local" name="startDate" />

            <label for="dueDate">Due Date</label>
            <input type="datetime-local" name="dueDate" />
            
        </div>
        <div>
            <input type="submit" name="submit" value="Submit" />
        </div>
    </form>
</div>