@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    <form method="post" action="EditClass">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="@Model.cl.Name" required/>

            <input type="hidden" name="classID" value=@Model.cl.ClassID required/>

            <br />

            <label for="description">Description</label>
            <textarea name="description" placeholder="Enter comments here..." value="" required>@Model.cl.Description</textarea>
            <br />
            <label for="notification">Notification</label>
            <textarea name="notification" placeholder="Enter notification here..." value="">@Model.cl.Notification</textarea>
        </div>
        <div>
            <input type="submit" name="update" value="Submit" />
        </div>
    </form>
</div>