@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>
<div class="slide-toggle2">
    <div>
        <br />
        <!-- fluid -->
        <div class="box-toggle">
            @if(true){
                                            int i3 = 0;

                var number = 0;
                var t = 0;
                foreach (var i in Model.users.ToList())
                {
                    var test = Model.perUser[t];
                    <div class="contorol">

                        <h2 style="padding-left:40px">
                            @Html.DisplayFor(Name => i.UserName)
                        </h2>
                        <span class="toggle-info pull-left">
                            <i class="fa fa-plus"></i>
                        </span>
                    </div>
                    <div class="content-box">
                        <div class="black">
                           
                            <div style="padding-left:10px">
                                Total Grade:
                                @(Model.classGrade[number])%
                            </div>
                            <br/>
                        </div>
                    </div>

                    number = number + 1;
                    i3 = 0;
                    <hr />

                    t++;
                }
            }
        </div>
    </div>
</div>
<div>

</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}