@model Oodle.Models.ClassNotification


<div class="form-style-6">
    <h1>Edit your class</h1>

    <p>Click Remove to confirm removing notification, otherwise click the back link to return to your class</p>

    <form method="post" action="RemoveNotification">
        <input type="hidden" name="classID" value=@Model.ClassID required />
        <input type="hidden" name="notifID" value=@Model.ClassNotificationID required />
        <input type="submit" name="submit" value="Remove" />
    </form>
    <a href="@Url.Action("Index", "Teachers", new { ClassID = (Model.ClassID)} )">
        Back
    </a>
</div>
