@model Oodle.Models.ViewModels.TeacherVM


<div class="removeNotif">
    <h1>Remove Notification</h1>
    <p>Click the Remove Notification button to confirm removing, otherwise click the back button to go back to your class page</p>
    <p>Notification To Remove: @Model.rNotif.Notification</p>

    @Html.ActionLink("Back", "Index", "Teachers", new { ClassID = Model.rNotif.ClassID }, new { @class = "" })

    @Html.ActionLink("Remove Notification", "RemoveNotification", "Teachers", new { classID = Model.rNotif.ClassID, notifID = Model.rNotif.ClassNotificationID }, new { @class = "" })
    <p></p>

</div>
