@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "SubmissionView";
}

<h2>Submissions</h2>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
@using (Html.BeginForm("DownloadFile", "Students", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId" />
    <input type="submit" id="btnDownload" value="Download" style="display:none" />
}
<hr />
<table cellpadding="0" cellspacing="0" class="responsive-table">
    <tr>
        <th style="width:50px">Student</th>
        <th style="width:120px">File Name</th>
        <th style="width:120px">Grade Link</th>
        <th style="width:80px">Download</th>
    </tr>
    @if (Model.documents.Count() > 0)
    {
        for (int i = 0; i < Model.documents.Count(); i++)
        {
            var file = Model.documents[i];
            var user = Model.documents[i].UserID;
            string name = Model.users.Where(j => j.UsersID == user).FirstOrDefault().UserName;
            var classID = Model.cl.ClassID;
            var assignmentID = Model.assignment.FirstOrDefault().AssignmentID;
            <tr>
                <td>@name</td>
                <td>@file.Name</td>
                <td><a href="@Url.Action("Grade", "Teachers", new {classID = classID,documentID = file.Id,assignmentID = assignmentID})" style="color:dimgrey"> Grade </a></td>
                <td><a href="javascript:;" onclick="DownloadFile(@file.Id)" style="color:dimgrey">Download</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };
</script>
