@model IEnumerable<Oodle.Models.Class>


@{
    ViewBag.Title = "ViewRoster";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}


    <div id="classListBody">


        <h2 style="text-align:center;">
            Class Rosters
        </h2>
        <hr />


        <h2 style="text-align:center;">
            Classes Registered Under X: <br />
        </h2>

</div>

        <div>
            @foreach (var i in Model)
    {
        
            <div class="slide-toggle text-center">
                <div class="container">

                    <div class="box-toggle">

                        <div>
                            <div class="contorol">
                                @Html.DisplayFor(Name => i.Name)
                                <span class="toggle-info pull-left">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                            <div class="content-box">
                                @Html.DisplayFor(Description => i.Description)
                                <span class="toggle-info pull-left">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            }
        </div>




