
@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "AssignmentTurnIn";
}

<!DOCTYPE html>

<h1> @Model.assignment.FirstOrDefault().Name </h1>

<html>
<body>
    @using (Html.BeginForm("AssignmentTurnIn", "Students", new { classID = (Model.assignment.FirstOrDefault().ClassID), assignmentID = (Model.assignment.FirstOrDefault().AssignmentID) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @if (Model.documents.Count() > 0)
            {
                foreach (var file in Model.documents)
                {
                    <h3>
                        Current Submission
                    </h3>
                    <a href="javascript:;" onclick="DownloadFile(@file.Id)">
                        <h4> @file.Name</h4>
                    </a>
                    <h3>
                        Update Submission
                    </h3>
                }
            }
            else
            {
                <h3>New Submission</h3>
            }
            <input type="file" name="postedFile" />
            <br />
            <input type="submit" id="btnUpload" value="Save Changes" />
        </div>

    }
    @using (Html.BeginForm("DownloadFile", "Students", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="./path/to/dropzone.js"></script>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</body>
</html>
