@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Index";
}




<br style="padding-bottom:70px;" />
<div class="jumbotron" style="border-radius:150px; width:800px; margin-left:100px;">
    <center>
        <h2 id="pendingPage">Welcome to your student page @Html.DisplayFor(Name => Model.cl.Name)</h2>
        @Html.DisplayNameFor(Description => Model.cl.Description):
        @Html.DisplayFor(Description => Model.cl.Description)
    </center>
</div>


