@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">WARNING!</h1>
<h2 class="text-danger">11000101101010100100110111000011010100101010110101101010101100110111</h2>

